<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="layout">
         {{> header}}
        <section class="content">
            <div class="btn__list">
                <a href="1-OPT" class="btn btn__link"><div class="btn__link_position_center">1-ОПТ</div> </a>
                <a href="#" class="btn btn__link"><div class="btn__link_position_center">1-ТОРГ</div></a>
                <a href="1-PE" class="btn btn__link">1-ПЕ</a>
                <a href="#" class="btn btn__link">1-П</a>
                <a href="#" class="btn btn__link">4-МТП</a>
        </div>
        </section>
    </div>
</body>
</html>